body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  padding: 1.5em;
}
.main-nav {
  display: block;
  margin-bottom: 15px;
  background: #ececec;
}
table thead tr th {
  line-height: 1;
}
.main-nav * {
  display: inline-block;
  margin: 0;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
  padding: 10px;
}
.main-nav *:hover:not(.active) {
  text-decoration: underline;
}
.main-nav .active {
  font-weight: bold;
  color: #fff;
  background: #2f3e56;
}